.home {
  width: 70vw;
  /* height: 70vh; */
  margin-left: auto;
  margin-right: auto;
}

.home_topBtn {
  background-color: #415ce4;
  color: ;
  
  border:none;
  border-radius: 2px;
  padding: 0px 25px;
}
.home__top {
  display: flex;
  justify-content: space-between;
  height: 25px;
  padding: 20px 0;
  margin: 10px;
}
.home__top h6 {
  margin-top: 7px;
}

.home__question {
  margin-top: 8px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(191, 191, 191);
}
.home__questionListsBottom {
  padding-bottom: 49vh;
}

.MdArrowForwardIos {
  position: relative;
  left: 94%;
  top: -50px;
  padding: 0;
}

